@model iTut.Models.Marks.Mark

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" id="StudentMarks-@Model.Id" tabindex="-1" aria-labelledby="editComplaintModalLabel" aria-hidden="true">
    <div class="modal-dialog mr-0 mt-0 mb-0 modal-md h-100 fadeInRight animated">

          <form asp-controller="Educator" asp-action="EditComplaint" method="post" class="modal-content h-100 rounded-0">

           </form>
    </div>

</div>